.sign-in {
    width: 380px;
    display: flex;
    flex-direction: column;

    .title {
        margin: 10px 0;
    }
}

.buttons-container {
    display: flex;
    justify-content: space-between;
}

.span-container {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.error {
    color: red;
    margin: 5px;
    text-align: center;
}
